include header
include mixin_download
include navigation
include donate

html
	head
		block head

	body
		block body

		<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
		//+donate()
		//footer
			p.small 
				| Robert Agthe, Matternstraße 14, 10249 Berlin ~ 
				| found typo? error? 
				a(href="https://github.com/polarity/polarity-music") file an issue on github
				| 