
extends ../includes/_layout

block head
	+Header({title: 'Polarity Music - deep electronic music from berlin', base:""})

	style.
		body {
			background-image: url(medien-index/bg-polarity-3.jpg);
			background-size: cover;
			background-attachment: fixed;
		}
		.content-block {
			background-color: rgba(255, 255, 255, 0.9);
		}

block body
	body#body
		div.content-block 
			h1 Polarity Music
			p.intro Hi, i´m polarity from berlin and doing electronic music. Most of my stuff is for free and under a 
				a(href='https://creativecommons.org/licenses/by-sa/3.0/') CC licence
				| . So enjoy and use my music for any project you need.

			p 
				:markdown
					Music is culture. Everyone should have free access to culture and build upon it. Like i build upon my influences. Thats how it should be, thats what i believe in. Sure you have to make money for a living, but thats another part of your live and shouldn´t be connected with your creative output. [I do code](http://scriptshit.de) for a living and make music for free.

			ul
				li
					| Listen to and download all my music from 
					a(href='https://soundcloud.com/polarity') Soundcloud
					| . Most of them are free to download. Latest EP is "
					a(href='https://soundcloud.com/polarity/sets/monokultur') Monokultur
					| ", 4 deep drum & bass tracks with a dubby flavor.s
				li
					| I also created some funny videos and uploaded them to 
					a(title='Polarity Music on Youtube', href='https://www.youtube.com/channel/UC6fkScAhWG63SUSr3D1MI6w') youtube.
					| . Some of them are free to use 
					a(href="bitwig.html") Bitwig Studio Tools
					| , like "
					a(href='https://www.youtube.com/watch?v=1xUSYoWJmd0') KrassVerb
					| " Reverb or the "
					a(href='https://www.youtube.com/watch?v=eRExuz3lhZw') Haltmal
					| " delay
				li
					| And, of course, you can follow me on 
					a(href='https://www.facebook.com/polaritydnb') Facebook
					|  and 
					a(href='http://twitter.com/polarity') Twitter
					|  for all the social interaction you need.

			hr
			h2 Music
			ul
				li 
					a(href="https://soundcloud.com/polarity/sets/til-shakehead", target="_blank") Polarity - Til Shakehead EP [Free Download]
				li 
					a(href="volksromantik.html") Polarity - Volksromantik LP [Free Download]
				li 
					a(href="https://soundcloud.com/polarity/sets/monokultur", target="_blank") Polarity - Monokultur [Free Download]
				li 
					a(href="https://soundcloud.com/polarity/sets/eutopie", target="_blank") Polarity - Eutopie LP - Dub Techno[Free Download]
				li 
					a(href="https://soundcloud.com/polarity/sets/delete-all-your-social-network", target="_blank") Polarity - Delete All Your Social Network Accounts LP [Free Download]

			p
				:markdown
					or watch all the latest [Polarity Soundcloud uploads](https://soundcloud.com/polarity/tracks). Listen to all [previews](https://rawgit.com/polarity/s3-player/master/index.html)

			h2 Bitwig Tools
			p
				:markdown
					Bitwig is a DAW out of berlin. [I did some free presets, devices and projects](bitwig.html) for everyone to download.
		footer
			p.small Robert Agthe, Matternstraße 14, 10249 Berlin