
extends ../includes/_layout

block head
	+Header({title: 'Polarity Music - deep electronic music from berlin', base:""})

	style.
		@media all and (min-width: 735px) {
			body {
				background-image: url(medien-index/bg-polarity-3.jpg);
				background-size: cover;
				background-attachment: fixed;
			}
		}
		.content-block {
			background-color: rgba(255, 255, 255, 0.9);
		}

block body
	div.content-block
		h1 Polarity Music
		.intro
			:markdown
				Electronic music producer, dj, performer, community creator and open source dude from berlin, germany. This is my blog where i write about music production. [Become a patron](https://www.patreon.com/polarity_music) or check my [releases on bandcamp.](https://polarity.bandcamp.com/)
		:markdown
			Music is culture. Everyone should have free access to culture and build upon it.
			Like i build upon my influences. Thats how it should be, thats what i believe in.
			Sure you have to make money for a living, but thats another part of your live and shouldn´t be
			connected with your creative output. [I do code](http://scriptshit.de) for a living and make music for free.
		:markdown
			* I´m blogging, check the **[polarity music blog](/blog/)**, about production and music stuff
			* I do music: Styles are Drum & Bass, Dub, Soundtracks, something in between, i dont care. Listen to it on [Bandcamp](https://polarity.bandcamp.com/), [Youtube](https://www.youtube.com/user/polaritydnb/), [Spotify](https://open.spotify.com/artist/7kifM7KP1kF8F7qjFotaUl)
			* I do tutorials, screen-sessions and sometimes live-streams. Watch on [Youtube](https://www.youtube.com/playlist?list=PLyCfny1Hc_btY_0u7QZ6PXPXlHFqgzCDi) or [check my new blog.](/blog/)
			* I create Toolsfor your daily studio life. Samples, presets, templates and projects. Watch this [Playlist on Youtube](https://www.youtube.com/playlist?list=PLyCfny1Hc_buWzQkBDlaIN9wo087wqdKp) or go to my [Bitwig Tools page](http://polarity-dnb.de/bitwig.html)
			* And, of course, you can follow me on [Instagram](https://www.instagram.com/polarity_music/), [Facebook](https://www.facebook.com/polaritydnb) and [Twitter](http://twitter.com/polarity) connect to my [Discord Channel](https://discord.gg/eWwFBww) or donate $5 via [Patreon](https://www.patreon.com/bePatron?c=415253&rid=2130509) and get a special access to the support channel.
			* Read more about me in the [biography](http://polarity-dnb.de/about-biography.html) (probably outdated).
		hr
		h2 Music
		<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/videoseries?list=PLyCfny1Hc_bviZQXIF-syEl6Jf0Ey8DAp" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
		p
			:markdown
				You can also check my [DSound page](https://dsound.audio/#/@polarity) or my  old [Soundcloud page (abandoned)](https://soundcloud.com/polarity/tracks). Or visit my very good maintained [discography on Discogs](https://www.discogs.com/de/artist/155494-Polarity-3) (thx hegglar, dandruff, zerodivision). [Steemit Verification](steemit.html).
