
extends ../includes/_layout

block head
	+Header({title: 'Polarity Music - deep electronic music from berlin', base:""})

	style.
		@media all and (min-width: 735px) {
			body {
				background-image: url(medien-index/bg-polarity-3.jpg);
				background-size: cover;
				background-attachment: fixed;
			}
		}
		.content-block {
			background-color: rgba(255, 255, 255, 0.9);
		}

block body
	div.content-block 
		h1 Polarity Music
		p.intro Hi, i´m 
			a(href="about-biography.html") polarity from berlin
			|  and doing electronic music. Most of my stuff is for free and under a 
			a(href='https://creativecommons.org/licenses/by-sa/3.0/') CC BY-SA 3.0 licence
			| . So enjoy and use my music for any project you need. 
		p 
			b
				| Support me on 
				i(class="fab fab fa-patreon")
				| 
				a(href='https://www.patreon.com/polarity_music') Patreon
				| 
				| or on 
				i(class="fab fab fa-paypal") 
				| 
				a(href='https://paypal.me/polaritymusic') paypal

		p 
			:markdown
				Music is culture. Everyone should have free access to culture and build upon it. Like i build upon my influences. Thats how it should be, thats what i believe in. Sure you have to make money for a living, but thats another part of your live and shouldn´t be connected with your creative output. [I do code](http://scriptshit.de) for a living and make music for free.

		ul
			li 
				| Who the fuck is polarity? Read more about him in the 
				a(href="about-biography.html") Polarity biography.
			li
				| Listen to most of my stuff on 
				i(class="fab fa-youtube")
				| 
				a(href='https://www.youtube.com/user/polaritydnb/') Youtube
			li
				| I also created some funny videos and uploaded them to 
				a(title='Polarity Music on Youtube', href='https://www.youtube.com/channel/UC6fkScAhWG63SUSr3D1MI6w') youtube.
				| . Some of them are free to use 
				a(href="bitwig.html") Bitwig Studio Tools
				| , like "
				a(href='https://www.youtube.com/watch?v=1xUSYoWJmd0') KrassVerb
				| " Reverb or the "
				a(href='https://www.youtube.com/watch?v=eRExuz3lhZw') Haltmal
				| " delay
			li
				| And, of course, you can follow me on 
				i(class="fab fa-instagram")
				| 
				a(href='https://www.instagram.com/polarity_music/', title="Polarity Music Instagram") Instagram
				| , 
				| 
				i(class="fab fa-facebook")
				| 
				a(href='https://www.facebook.com/polaritydnb') Facebook
				| 
				| and 
				i(class="fab fa-twitter")
				| 
				a(href='http://twitter.com/polarity') Twitter
				|  for all the social interaction you need.
			li 
				| connect to my 
				| 
				i(class="fab fa-discord")
				| 
				a(href="https://discord.gg/eWwFBww") Discord Channel
				| 
				| or donate $5 via 
				| 
				i(class="fab fab fa-patreon")
				| 
				a(href='https://www.patreon.com/bePatron?c=415253&rid=2130509') Patreon
				| 
				| and get a special access to the support channel.
				
		hr
		h2 Music
		p Best places to listen: 
			i(class="fab fa-bandcamp")
			| 
			a(href="https://polarity.bandcamp.com/", title="Buy Polaritys Music on Bandcamp") Bandcamp,
			| 
			i(class="fab fa-youtube")
			| 
			a(href="https://www.youtube.com/user/polaritydnb/", title="Polarity Music and Tutorials on Youtube") Youtube,
			| 
			| and 
			| 
			i(class="fab fa-spotify")
			| 
			a(href="https://open.spotify.com/artist/7kifM7KP1kF8F7qjFotaUl", title="Polarity on Spotify") Spotify,
			| 

		<iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:7kifM7KP1kF8F7qjFotaUl&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
		<br><br><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/videoseries?list=PLyCfny1Hc_bviZQXIF-syEl6Jf0Ey8DAp" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
		p 
			:markdown
				I have here on this page an overview of [all polarity publications](music.html) with corresponding links to the platforms on which you can buy them.
		p
			:markdown
				But you can also listen to most of it on my [Youtube](https://www.youtube.com/playlist?list=PLyCfny1Hc_bviZQXIF-syEl6Jf0Ey8DAp) page or visit my [Soundcloud page (abandoned)](https://soundcloud.com/polarity/tracks). 

		h2 Bitwig Tools
		p
			:markdown
				Bitwig is a DAW out of berlin. [I did some free presets, devices and projects](bitwig.html) for everyone to download.