extends ../includes/_layout

block head
	+Header({title: 'Music by Polarity', base:""})

	// facebook
	<meta property="og:title" content="Polarity Bitwig Tools">
	<meta property="og:site_name" content="Polarity Music">
	<meta property="og:url" content="http://polarity-dnb.de/bitwig.html">
	<meta property="og:description" content="Free tools, devices, presets and complete projects for Bitwig by Polarity Berlin.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://polarity-dnb.de/medien-index/sc-bitwig.jpg">
	<meta property="og:image:width" content="1200">
	<meta property="og:image:height" content="675">

	style.
		.music-cover-list {
			display: flex;
		}
		.music-cover-list:last-of-type {
			margin-bottom: 100px;
		}
		.music-cover-list .music-cover {
			background-size: cover;
			margin: 5px;
			width: 33%;
			position: relative;
			overflow: hidden;
		}
		.music-cover-list .music-cover:before {
			content: "";
			display: block;
			padding-top: 100%; /* initial ratio of 1:1*/
		}
		.music-cover-list .music-cover .music-content {
			position: absolute;
			top: 0;
			left: 0;
			color: white;
			display: none;
		}

block body
	div.content-block
		+nav()
		h1 All Polarity Music
		p Currently there are only cover pictures of my albums or publications. However, a small streaming service for the browser is planned.
		p 
			:markdown
				With a little bit of support on **[Patreon](https://www.patreon.com/polarity_music)** or **[paypal](https://paypal.me/polaritymusic)**, I would be fine.
		p 
			:markdown
				Best places to listen are [Youtube](https://www.youtube.com/user/polaritydnb/) and [Spotify](https://open.spotify.com/artist/2ri4hzNaXNZc5RWAUcPXSx) or [dsound](https://dsound.audio/#/@polarity).
				Best places to buy is [Bandcamp](https://polarity.bandcamp.com/).

	div.music-cover-list
		a.music-cover(href="https://polarity.bandcamp.com/album/daily-routine", style="background-image: url(medien-index/cover-daily-routine.jpg);")
			.music-content
				h2 polarity - daily routine
		a.music-cover(href="https://polarity.bandcamp.com/album/growing-old", style="background-image: url(medien-index/cover-growing-old.jpg);")
			.music-content
				h2 polarity - growing old

		a.music-cover(href="https://polarity.bandcamp.com/album/syntax", style="background-image: url(medien-index/cover-PNRLP0005.jpg);")
			.music-content
				h2 polarity - syntax


	div.music-cover-list
		a.music-cover(href="https://polarity.bandcamp.com/album/delete-all-your-social-network-accounts", style="background-image: url(medien-index/Cover-Delete-All-Your-Social-Network-Accounts.jpg);")
			.music-content
				h2 polarity - delete all your social network accounts

		a.music-cover(href="https://polarity.bandcamp.com/album/monokultur", style="background-image: url(medien-index/Cover-Monokultur.jpg);")
			.music-content
				h2 polarity - monokultur

		a.music-cover(href="https://polarity.bandcamp.com/album/volksromantik", style="background-image: url(medien-volksromantik/Volksromantik-Cover-Klein.jpg);")
			.music-content
				h2 polarity - Volksromantik