extends ../includes/_layout

block head
	+Header({title: 'Steemit Verification', base:""})

block body
	div.content-block
		+nav()
		h1 @polarity on steemit
		div
			:markdown
				yes, i am [@polarity](https://steemit.com/@polarity) on steemit. All uploaded material is created by myself (Robert Agthe) or together with friends (credited per track in the description).
